#all404 {
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    h1 {
        color: #a8bfb5;
        font-size: 68px;
    }
    h2 {
        color: #a8bfb5;
        font-size: 32px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        background-color: #A65A49;
        padding: 25px 30px;
        border-radius: 13px;
    }
}