.post-9{

      h2{
            margin-bottom: 70px;
      }

      .wp-block-image{
            figcaption{
                  text-align: center;
            }
      }

      .wp-block-button__link{
            font-size: 24px;
            font-weight: 500;
            box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.25);
      }


      @media (min-width: 782px){
            .wp-block-column:not(:first-child) {
                  margin-left: 5em;
              }

              .wp-block-group{
                  padding: 70px 150px;
                  
             }    
      }

}