    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    * {
        font-family: 'Poppins', sans-serif;
    }
    
    h1 {
        color: #A8BFB5;
        font-size: 48px;
        width: 100%;
    }
    
    .mes-favoris {
        h2 {
            margin-bottom: 20px;
        }
        h3 {
            width: 100%;
            font-weight: bold;
            font-size: 18px;
        }
        h4 {
            width: 100%;
            margin: 0;
            font-weight: 500;
            font-size: 18px;
        }
        p {
            width: 80%;
            font-size: 14px;
        }
        .entry-content {
            background: linear-gradient(#F2D2BF, #F2EADE);
            padding-top: 20px;
        }
        .wp-block-column {
            display: flex;
            justify-content: center;
            margin-left: 0;
            min-width: 280px;
            margin-bottom: 30px;
        }
        .favProduct {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background: white;
            border-radius: 19px;
            min-width: 250px;
            .wp-block-group__inner-container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            img {
                width: 100%;
            }
            .categoryProduct {
                width: 160px;
                height: 26px;
                background: #A65A49;
                display: flex;
                justify-content: center;
                color: white;
                border-radius: 5px;
                align-items: center;
                h4 {
                    font-weight: 200;
                    font-size: 14px;
                }
                margin-bottom: 30px;
            }
        }
        .favVitrine {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background: white;
            border-radius: 19px;
            min-width: 250px;
            min-height: 300px;
            margin-top: 100px;
            .wp-block-group__inner-container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            .headerFavVitrine {
                width: 100%;
                .wp-block-group__inner-container {
                    display: flex;
                    justify-content: center;
                    flex-wrap: nowrap;
                    position: relative;
                    .roundImg {
                        margin: 0;
                        position: absolute;
                        top: -85px;
                        img {
                            border-radius: 100%;
                        }
                    }
                    .instaImg {
                        margin-right: 20px;
                    }
                    h3 {
                        width: 100%;
                        margin-top: 20px;
                        text-align: left;
                        margin-left: 20px;
                    }
                }
            }
            h3 {
                width: 100%;
                font-weight: bold;
                font-size: 18px;
                height: 25px;
            }
            h4 {
                width: 100%;
                margin: 0;
                font-weight: 500;
                font-size: 18px;
            }
            p {
                width: 90%;
                font-size: 14px;
                ;
            }
            .categoryVitrine {
                width: 220px;
                height: 50px;
                background: #A65A49;
                display: flex;
                justify-content: center;
                color: white;
                border-radius: 12px;
                align-items: center;
                margin-bottom: 10px !important;
                h4 {
                    font-weight: 300;
                }
                margin-bottom: 30px;
            }
        }
    }
    
    .favoris {
        article {
            margin-bottom: 0;
        }
        .favorites-list {
            display: flex;
            flex-wrap: wrap;
            background: linear-gradient(#F2D2BF, #F2EADE);
            justify-content: space-evenly;
            padding: 100px 10px 50px;
        }
        .blocFavori {
            width: 340px;
            background: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-radius: 13px;
            position: relative;
            min-height: 300px;
            align-content: center;
            margin-bottom: 100px;
            img {
                width: 155px;
                height: 155px;
                border-radius: 100%;
                position: absolute;
                top: -75px;
            }
            h2 {
                text-align: center;
                font-size: 18px;
                width: 100%;
                margin-bottom: 30px;
            }
            p {
                font-size: 14px;
                width: 100%;
                text-align: center;
            }
        }
    }