        body {
            margin-bottom: 0 !important;
            height: 100%;
        }
        
        .entry-footer {
            display: none;
        }
        
        footer {
            background-color: #A8BFB5;
            #titleFoot {
                text-align: center;
                padding: 46px 0 30px 0;
                a {
                    color: #733B36;
                    text-decoration: none;
                    font-weight: 900;
                    font-size: 48px;
                }
            }
            #AllLinksFoot {
                display: flex;
                justify-content: center;
                #linksFoot {
                    display: flex;
                    a {
                        text-decoration: none;
                        color: #FFFCFC;
                        padding: 0 50px;
                    }
                }
            }
            #networksFoot {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 46px 0;
                img {
                    padding: 0 7px;
                    width: 3%;
                }
            }
        }
        /* ---------------RESPONSIVE FOOTER-------------- */
        
        @media(max-width: 940px) {
            footer {
                #contentFoot {
                    #AllLinksFoot {
                        display: flex;
                        flex-direction: row;
                        #linksFoot {
                            flex-direction: column;
                            a {
                                padding: 5px 40px;
                            }
                        }
                    }
                    #networksFoot {
                        img {
                            padding: 0 7px;
                            width: 5%;
                        }
                        padding-bottom: 46px;
                    }
                }
            }
        }
        
        @media(max-width: 640px) {
            footer {
                #contentFoot {
                    #networksFoot {
                        img {
                            width: 10%;
                        }
                    }
                }
            }
        }