@import "abstracts/variables/custom_variables.scss";

.page-id-62 {

      .init {
            width: 60%;
            min-width: 600px;
            padding: 50px 20px;
            background: linear-gradient(180deg, #F2D2BF 0%, #F2EADE 100%);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
            border-radius: 19px;
            margin: 0 auto;
            display: grid;
            place-items: center;

            &:hover{
                  cursor: pointer;
            }

            h2 {
                  font-weight: 800;
                  font-size: 24px;
                  color: #A65A49;
                  text-align: center;
            }

            .add {
                  margin-top: 40px;
                  padding: 9px 13px;
                  background: #A8BFB5;
                  color: white;
                  border-radius: 5px;
            }
      }

      .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);

            &-content{
                  background: linear-gradient(180deg, #F2D2BF 0%, #F2EADE 100%);
                  padding: 40px;
                  border-radius: 15px;
                  width: 50%;
                  margin: 5vh auto;
                  overflow: auto;
                  height: 90vh;
            }

            .close{
                  color: #A8BFB5;
                  float: right;
                  font-size: 28px;
                  font-weight: bold;
            }

            .close:hover, .close:focus {
                  color: black;
                  text-decoration: none;
                  cursor: pointer;
            }

            h3{
                  color: #A65A49;
                  font-size: 24px;
            }
      }

      form{
            display: flex;
            flex-direction: column;

            input, textarea{
                  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
                  border-radius: 5px;
                  padding: 10px 25px;
                  width: 60%;
                  margin: 15px auto;
                  outline: none;
                  resize: none;
            }

            button{
                  margin: 3% auto;
                  color: #FFFFFF;
                  background: #A8BFB5;
                  border-radius: 19px;
                  font-size: 24px;
                  padding: 5px 30px;
            }
      }

      .flex{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
      }

      .profile-container{
            width: 80%;
            min-width: 600px;
            padding: 50px 20px;
            background: linear-gradient(180deg, #F2D2BF 0%, #F2EADE 100%);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
            border-radius: 19px;
            margin: 10px auto 20px auto;
            // display: grid;
            // place-items: center;
            img{
                  width: 160px;
                  height: 160px;
                  border-radius: 50%;
                  object-fit: cover;
                  //margin-right: 55px;
            }

            p{
                  margin-bottom: 10px;
            }

            .heading{
                  color: #A65A49;
                  font-weight: 800;
                  font-size: 24px;
            }

            .detail{
                  font-size: 24px;
                  font-weight: 500;
            }

            a{
                  color: black;
                  text-decoration: none;

                  &:visited{
                        color: black;
                        text-decoration: none;
                  }
            }

            #edit{
                  background-color: transparent;
                  border: none;
                  float: right;
                  position: relative;
                  top: -15px;
            }

            #edit:hover{
                  cursor:pointer;
            }

            .categories{

                 width: 50%;
                 padding: 1% 0.5%;
                 background-color: #A8BFB5;
                 color: white;
                 border-radius: 20px;
                 margin: 9px auto;
                  text-align: center;
                  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

            }

            .nproducts{
                  font-weight: 800;
                  font-size: 24px;
                  color: #A65A49;
                  padding: 11px 25px;
                  border-radius: 9px;
                  background-color: #F2EADF;
                  display: inline-block;
            }

            .desc{
                  margin-top: 50px;
                  font-size: 18px;
            }
      }
      .contenu_profil{
            display: flex;
      .info_profil{
            width: 50%;
            margin: auto;
            text-align: center;
      }
            .info_produit_profil{
                  width: 50%;
            }
      }
}

@media (max-width: 900px){
      .page-id-62 {
            .contenu_profil {
                  display: flex;
                  flex-direction: column;

                  .info_produit_profil {
                        width: 100%;
                        margin: 3% auto 2% auto;
                        text-align: center;


                  }
            }
            .modal {


                  &-content {

                        width: 80%;
                        margin: 5vh auto;
                        overflow: auto;
                        height: 90vh;
                  }
            }
      }
}

@media (max-width: 400px){
.page-id-62{
      h1{
            font-size: 20px;
            padding: 3%;
      }
      .init{
            min-width: 300px;
      }

      .profile-container {
            min-width: 300px;
            padding: 10% 0;

            .contenu_profil {
                  width: 100%;

                  .heading {
                        font-size: 1em;
                        text-align: center;
                  }
                  .categories{

                        width: 80%;


                  }

                  .info_produit_profil {
                        width: 100%;

                        .nproducts {
                              font-size: 15px;
                              display: inline-block;

                        }

                        .desc {
                              margin-top: 2%;
                        }

                  }
            }
      }
      .modal {


            &-content {

                  width: 80%;
                  margin: 5vh auto;
                  overflow: auto;
                  height: 90vh;

                  h3{
                       font-size: 24px !important;
                  }

            }
            #form{
                  input, textarea{

                        width: 90%;

                  }
            }
      }

}
}


