// fonts

$poppins: "Poppins", sans-serif;

// colors

$green: #A8BFB5;
$beige: #F2D0BD;
$softBeige: #F2EADF;
$softBrown: #A65A49;
$brown: #733B36;
$gradient: linear-gradient(to right, #F2EADF, #F2D0BD);
$reverseGradient: linear-gradient(to left, #F2EADF, #F2D0BD);

// font-weight

$normal: 400;
$bold: 700;
$light: 300;
$thin: 100;
$medium: 500;
$semi-bold: 600;
$black: 900;

// font-size

$nav: 18px;
$h2: 48px;
$text: 24px;
$bigText: 30px;
