// fonts

$poppins: "Poppins", sans-serif;

// colors

$green: #A8BFB5;
$beige: #F2D0BD;
$softBeige: #F2EADF;
$softBrown: #A65A49;
$brown: #733B36;
$gradient: linear-gradient(to right, #F2EADF, #F2D0BD);
